<div class="post-subject">
  <a href={{post.link}}>{{post.link}}</a>
</div>
<div class="post-user">
  <img class="post-user-avatar" src="https://media.kitsu.io/users/avatars/78332/small.jpg" />
  <div class="post-user-info">
    <div class="post-user-name">matthewdias</div>
    <div class="timestamp">x hours ago</div>
  </div>
</div>
{{post.text}}
