$bright: #E1E1E1;
$text: #949494;
$dim: #6A6A6A;
$dark-gray: #42464C;
$darker-gray: #36393E;
$darkest-gray: #2E3136;
$black: #262626;
$logo: #80E4E7;

$navbar-height: 56px;
$sidebar-width: 222px;

* {
  box-sizing: border-box;
}

html, body, body > [class="ember-view"] {
  margin: 0;
  padding: 0;
  height: 100%;
  background: $darker-gray;
  font-family: 'Helvetica', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  width: 100%;
  line-height: 1.5;
  height: $navbar-height;
  padding-left: 24px;
  background: $darker-gray;
  border-bottom: 2px solid $black;
  .logo {
    position: absolute;
    margin-top: 3px;
    color: $logo;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 48px;
  }
  .signin-link {
    float: right;
  }
}

.app-container {
  display: flex;
  height: calc(100% - #{$navbar-height});
}

.app-column {
  height: 100%;
}

.channel-nav {
  width: $sidebar-width;
  height: 100%;
  background: $darkest-gray;
  color: $text;
  .channel-header {
    padding: 24px 0 12px 24px;
    font-size: 12px;
  }
  .channel-name {
    display: block;
    padding: 0 0 8px 24px;
    font-size: 18px;
    .hash {
      color: $dim;
      font-weight: lighter;
    }
  }
  .active {
    color: $bright;
    .hash {
      color: $text;
    }
  }
}

.post-list {
  width: calc(100% - #{$sidebar-width});
}

.post-view {
  max-width: 512px;
  margin: 16px auto;
  padding: 8px;
  border-radius: 8px;
  background: $dark-gray;
  .post-user {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    .post-user-avatar {
      width: 36px;
      padding-right: 8px;
    }
    .post-user-name {
      color: $bright;
    }
  }
}

.friends-list {
  width: $sidebar-width;
  background: $darkest-gray;
}
