$bright: #E1E1E1;
$text: #949494;
$dim: #6A6A6A;
$dark-gray: #42464C;
$darker-gray: #36393E;
$darkest-gray: #2E3136;
$black: #262626;
$accent: #80E4E7;

$navbar-height: 56px;
$sidebar-width: 222px;

html, body, body > [class="ember-view"] {
  margin: 0;
  padding: 0;
  height: 100%;
  background: $darker-gray;
  font-family: 'Helvetica', sans-serif;
  color: $text;
}

* {
  box-sizing: border-box;
}

a {
  color: $accent;
  text-decoration: none;
}

.navbar {
  width: 100%;
  line-height: 1.5;
  height: $navbar-height;
  padding-left: 24px;
  background: $darker-gray;
  border-bottom: 2px solid $black;
  .logo {
    position: absolute;
    margin-top: 3px;
    color: $accent;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 48px;
  }
  .signin-link {
    float: right;
  }
}

.app-container {
  display: flex;
  height: calc(100% - #{$navbar-height});
}

.channel-nav {
  width: $sidebar-width;
  height: 100%;
  background: $darkest-gray;
  .channel-header {
    padding: 24px 0 12px 24px;
    font-size: 12px;
  }
  .channel-name {
    display: block;
    padding: 0 0 8px 24px;
    font-size: 18px;
    a {
      color: $text;
    }
    .hash {
      color: $dim;
      font-weight: lighter;
    }
  }
  .active {
    a {
      color: $bright;
    }
    .hash {
      color: $text;
    }
  }
}

.center {
  width: calc(100% - #{$sidebar-width});
  overflow-y: scroll;
}

.post-compose {
  overflow: auto;
  width: 100%;
  max-width: 512px;
  margin: 16px auto;
  padding: 16px;
  border-radius: 8px;
  background: $dark-gray;
  .post-compose-header {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    cursor: text;
  }
  input {
    height: 36px;
    border-bottom: 1px solid $dim;
  }
  input, textarea {
    padding: 8px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: medium;
    color: $text;
    background: inherit;
    resize: none;
  }
  textarea {
    min-height: 128px;
    margin-bottom: 8px;
    border-bottom: none;
    overflow: hidden;
  }
  button {
    float: right;
    padding: 8px 12px;
    font-size: medium;
    color: $darker-gray;
    background: $accent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:disabled {
    background: $text;
    cursor: default;
  }
}

.post-view {
  max-width: 512px;
  margin: 16px auto;
  padding: 16px;
  border-radius: 8px;
  background: $dark-gray;
  .post-subject {
    margin-bottom: 16px;
  }
  .post-user {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .post-user-avatar {
      width: 48px;
      margin-right: 16px;
      border-radius: 999em;
    }
    .post-user-info {
      .post-user-name {
        margin-bottom: 4px;
        font-size: 18px;
        color: $bright;
      }
      .timestamp {
        font-size: 14px;
      }
    }
  }
}

.friends-list {
  width: $sidebar-width;
  background: $darkest-gray;
}
