.post-compose {
  width: 100%;
  max-width: 512px;
  margin: 16px auto;
  padding: 16px;
  border-radius: 8px;
  background: $dark-gray;
  overflow: auto;
  .post-compose-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    cursor: text;
  }
  input {
    height: 36px;
    border-bottom: 1px solid $dim;
  }
  input, textarea {
    width: 100%;
    padding: 8px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background: inherit;
    color: $text;
    font-size: medium;
    resize: none;
  }
  textarea {
    min-height: 128px;
    margin-bottom: 8px;
    border-bottom: 0;
    overflow: hidden;
  }
  button {
    padding: 8px 12px;
    float: right;
    border: 0;
    border-radius: 4px;
    background: $accent;
    color: $darker-gray;
    font-size: medium;
    cursor: pointer;
    &:disabled {
      background: $text;
      color: $dim;
      cursor: default;
    }
  }
}

.post-view {
  max-width: 512px;
  margin: 16px auto;
  padding: 16px;
  border-radius: 8px;
  background: $dark-gray;
  .post-subject {
    iframe {
      width: 100%;
    }
  }
  .post-user {
    display: flex;
    align-items: center;
    margin-top: 16px;
    .post-user-avatar {
      width: 48px;
      margin-right: 16px;
      border-radius: 999em;
    }
    .post-user-info {
      .post-user-name {
        margin-bottom: 4px;
        color: $bright;
        font-size: 18px;
      }
      .timestamp {
        font-size: 14px;
      }
    }
  }
  .post-text {
    margin-top: 16px;
  }
}
