<div class="channel-name">{{channel.name}}</div>
<div>
  <br>
  {{#if subscriptions}}
    <button type="button" onclick={{perform unsubscribe channel}}>unsubscribe</button>
  {{else}}
    <button type="button" onclick={{perform subscribe channel}}>subscribe</button>
  {{/if}}
  <br>
</div>
