<form {{action "authenticate" on="submit"}}>
  <div class="modal-body">
    {{ui/validated-input
      model=this
      valuePath="email"
      placeholder="email"
      class="form-control"
    }}

    {{ui/validated-input
      model=this
      valuePath="password"
      placeholder="password"
      class="form-control"
      type="password"
    }}
  </div>
  <div class="modal-footer">
    <button type="submit" disabled={{v-get this "isInvalid"}}>sign in</button>
  </div>
</form>
