<div class="comment-user">
  <img class="comment-user-avatar" src="https://media.kitsu.io/users/avatars/78332/small.jpg" />
  <div class="comment-user-info">
    <div class="comment-user-name">
      {{users/user-name user=comment.user}}
    </div>
    {{moment-from-now comment.createdAt interval=60000 class="timestamp"}}
  </div>
</div>
{{#if comment.text}}
  <div class="comment-text">{{comment.text}}</div>
{{/if}}
