<div class="channel-nav">
  <div class="channel-header">CHANNELS</div>
  {{#each model as |channel|}}
    <a href={{href-to "channels.show" channel}} class="channel-name">
      <span class="hash">#</span>
      <span>{{channel.name}}</span>
    </a>
  {{/each}}
</div>
{{outlet}}
