<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      {{#click-outside
        action=onClose
        except-selector=".modal-content"}}
          {{component componentName onClose=onClose}}
      {{/click-outside}}
    </div>
  </div>
</div>
