<div>
  Hi friends, thanks for helping me test my website. Currently the friend system is not implemented yet, so everyone on the site is friends with each other. Because of this, please don't invite anyone else for now. Treat this as our own private reddit server.
</div>
{{outlet}}
