<nav class="navbar">
  {{#link-to "channels"}}
    <div class="logo">
      bump
    </div>
  {{/link-to}}

{{!--   {{#if session.isAuthenticated}}
    <button {{action "signout"}}>Sign Out</button>
  {{else}}
    {{#link-to "signin" class="signin-link"}}Sign In{{/link-to}}
  {{/if}} --}}
</nav>
<div class="app-container">
  {{outlet}}
</div>
