<div class="channel-nav">
  <div class="channel-header">CHANNELS</div>
  <div class="channel-name {{if (eq currentChannel "all") "active"}}">
    <a href={{href-to "channels.all"}}>
      <span class="hash">#</span>
      <span>all</span>
    </a>
  </div>
  {{#each model as |channel|}}
    {{channels/channel-name
      channel=channel
      active=(eq currentChannel channel.name)}}
  {{/each}}
</div>
{{outlet}}
<div class="friends-list">
</div>
